.mobile-menu {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  opacity: 0;
  pointer-events: none;
  transition: opacity 300ms;
  
  &.is-open {
    opacity: 1;
    pointer-events: auto;
  }

  &__container {
    background: #fff;
    width: 80%;
    transform: translateX(-100%);
    transition: transform 300ms;
  }

  &.is-open &__container {
    transform: translateX(0);
  }
}
