/* ===== Mobile First ===== */

.menu-toggle {
  background: none;
  border: none;
  font-size: 28px;
  cursor: pointer;
  display: block;
}

/* Mobile menu container */
.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background: #fff;
  z-index: 999;

  transform: translateX(100%);
  opacity: 0;
  visibility: hidden;

  transition: 
    transform 350ms ease,
    opacity 350ms ease,
    visibility 350ms ease;

  &.is-open {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
}

/* animation effect */
.mobile-nav {
  padding: 80px 40px;
  animation: slideFade 0.5s ease;
}

@keyframes slideFade {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.mobile-menu__close {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  font-size: 28px;
  cursor: pointer;
}

.mobile-nav__list {
  display: flex;
  flex-direction: column;
  gap: 30px;

  a {
    font-size: 28px;
    color: #212121;
    text-decoration: none;
  }
}

/* ===== Breakpoints ===== */

/* 480px */
@media (min-width: 480px) {
  .mobile-nav__list a {
    font-size: 30px;
  }
}

/* 768px */
@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }

  .mobile-menu {
    display: none;
  }

  .nav {
    display: block;
  }
}

/* 1200px */
@media (min-width: 1200px) {
  .nav__list {
    gap: 40px;
  }
}
